# SERVER
# openssl rand -base64 32
SESSION_SECRET="QFsQOyS/rTFzV1ygxGvVH95iwVO5ffy/i06A4xNkkT0="
TELEGRAM_BOT_TOKEN="1234567898:AAH30wJ2djpVOPbNTObg16-99Hzv9YkKBrQ"

# CLIENT
NEXT_PUBLIC_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_TELEGRAM_BOT_NAME="Bot123"
